.git/*
.idea/*
SpringHibernateExample/target/*
target/*

SpringHibernateExample/.idea/
SpringHibernateExample/SpringHibernateExample.iml
SpringHibernateExample/target/*
demo-maven/.idea/*
demo-maven/demo-maven.iml

